@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>AngularJS & ASP.NET MVC</h1>
    <p class="lead">AngularJS and ASP.NET MVC combined to address and fulfill specific needs of a Single Page Application along with server side technology to support specific requirements.</p>
    <p><a href="https://angularjs.org/" class="btn btn-primary btn-lg">AngularJS Learn more &raquo; </a></p>
    <p><a href="http://www.asp.net/mvc" class="btn btn-primary btn-lg">ASP.NET MVC Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            AngularJS along with ASP.NET MVC allows you to integrate new functionality with existing applications
            as well as the benefits of both worlds regarding simplicity, extensibility and testing.
        </p>
    </div>
    <div class="col-md-4">
        <h2>AngularJS</h2>
        <p> is an open-source web application framework maintained by Google and by a community of individual developers and corporations to address many of the challenges encountered in developing single-page applications. It aims to simplify both the development and the testing of such applications by providing a framework for client-side model–view–controller (MVC) architecture, along with components commonly used in rich Internet applications. 
            Source:Wikipedia</p>        
    </div>
    <div class="col-md-4">
        <h2>ASP.NET MVC</h2>
        <p>ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that enables a clean separation of concerns and that gives you full control over markup for enjoyable, agile development. ASP.NET MVC includes many features that enable fast, TDD-friendly development for creating sophisticated applications that use the latest web standards.
           Source: www.asp.net/mvc</p>
    </div>
</div>