<div class="container">
    <form class="simple-form" name='form' novalIdate>

        <div class="alert alert-info" ng-show="showAlertInfo">{{status}}</div>

        <input ng-hIde="user.Id" ng-model="user.Id" />
        Name:<input type="text" name="name" ng-model="user.name" class="form-control" required /><br />
        <span class="label label-danger" ng-show="form.name.$error.required">Name is required</span><br />

        Title:<input type="text" name="title" ng-model="user.title" class="form-control" required /><br />
        <span class="label label-danger" ng-show="form.title.$error.required">Title is required</span><br />

        e-mail:<input type="email" name="email_address" ng-model="user.email_address" class="form-control" required /><br />
        <span class="label label-danger" ng-show="form.email_address.$error.required">Email is required</span><br />

        <br />

        <a href="#users" class=" btn btn-default">Back to browse...</a>

        <button type="button" class="btn btn-primary" ng-click="saveuser(user)" ng-disabled="form.$invalId">Guardar</button>
    </form>

</div>
<hr />